<!DOCTYPE html>
<html leng="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoomS | Video Chat &amp; Conferencing</title>
  <link rel="stylesheet" href="style.css" >
  <script src="/socket.io/socket.io.js" ></script>
  <script >
    const ROOM_ID = "<%= roomId %>"
  </script>
</head>
<body>
  <div id="video-grid">

  </div>

  <script src="script.js"></script>
</body>
</html>
